<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ControlledPTT.Lasers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="Lib"/>
        </assemblyBinding>
    </runtime>
    <userSettings>
        <ControlledPTT.Lasers.Properties.Settings>
            <setting name="AgilentConnectionAddressIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AgilentConnectionAddresses" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>USB0::0x0957::0x0807::N8757A-US12L2916A::0::INSTR</string>
                        <string>USB0::0x0957::0x0807::US08M3130G::0::INSTR</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ControlledPTT.Lasers.Properties.Settings>
    </userSettings>
</configuration>